<!DOCTYPE html>

{% extends "inventory_management_app/inventory_management_app_base.html" %}

  {% block body_block %}


  <div class="container-fluid">

  <div style="overflow-y:auto; height:100vh; width:80vw">
  <div class="row">
  {% for item in location_data %}

  <div class="col-sm-4" >
    <a href="location_search_results/{{item.loc_room}}">
      <div class="project_button">




    <span>
        <h3>Room {{ item.loc_room }}</h3>
    </span>




      </div>
    </a>
  </div>

  {% endfor %}
  </div>
  </div>
</div>

  {% endblock %}
