<!DOCTYPE html>

{% extends "inventory_management_app/inventory_management_app_base.html" %}


{% block title %} Assets by Project {% endblock %}



  {% block body_block %}

<div class="container-fluid">
<div id="viewable_area" class="col-sm-9">
<div style="overflow-y:auto; height:100vh; width:81vw">
<div class="row">

{% for item in project_data %}

<div class="col-sm-4" >
  <a href="project_search_results/{{item.project_name}}">
    <div class="project_button">



  <span>
      <h1>{{ item.project_name }}</h1>
      <h3>{{ item.project_manager.get_full_name }}</h3>
  </span>




    </div>
  </a>
</div>

{% endfor %}
</div>
</div>
</div>
</div>

  {% endblock %}
