<!DOCTYPE html>

{% extends "inventory_management_app/inventory_management_app_base.html" %}

{% block body_block %}

{% load staticfiles %}
<div class="conatainer">

  <object data="{% static 'images/42_technology.svg' %}" type="image/svg+xml">
    <img src="{% static 'images/test.jpg' %}" width="100px" height="100px" />
  </object>




  <img src="{% static 'images/42_technology.svg'%}" alt="" width="100px" height="100px">

  <img src="{% static 'images/test.jpg' %}" alt="" width="100px" height="100px">


  <svg>
    <img src="{% static 'images/42_technology.svg'%}" alt="" width="100px" height="100px">
</svg>



</div>











{% endblock %}
